<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
    </head>
    <body style="max-width: 1000px; margin: 3% auto 3%;">
        <div align="right">
            <a href="https://yorkshire-data.com">https://yorkshire-data.com</a>
        </div>

        <div align="left">
            <p>
                | <a href="/">Home</a> |
            </p>
        </div>
        <hr>
            <content>
                {{.Home_Content_HTML}}
            </content>
        <hr>
        <div align="center">
            <font size="-1">© 2023 Copyright: <em>Yorkshire Data</em></font>
        </div>
    </body>
</html>

