<style>
    li {
        margin-bottom: 3px;
    }
</style>
<p>
    Using golang to script the data from SEC and store in <a href="https://github.com/etcd-io/bbolt">bbolt</a>. 
</p>
<P>
    A Python parsers is used to process it in dataframe and compare two consecutive periods. 
</P>
<ul>
    <li><a href="/fund/0001553733">Brave Warrior</a></li>
    <li><a href="/fund/0001709323">Himalaya</a></li>
    <li><a href="/fund/0001036325">Christopher Davis</a></li>
    <li><a href="/fund/0001418814">Value Act</a></li>
    <li><a href="/fund/0001649339">Scion Capital</a></li>
    <li><a href="/fund/0001099281">Third Avenue</a></li>
    <li><a href="/fund/0001748240">Soros</a></li>
    <li><a href="/fund/0001350694">Bridge Water</a></li>
    <li><a href="/fund/0001358706">Abram</a></li>
    <li><a href="/fund/0001656456">David Tepper</a></li>
    <li><a href="/fund/0001061768">Seth Klarman</a></li>
    <li><a href="/fund/0001603466">Point72</a></li>
    <li><a href="/fund/0001067983">Berkshire</a></li>
</ul>